# Java / Maven
target/
*.class
*.jar
*.war
*.ear

# Spring Boot
*.log
spring.log

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# SO
.DS_Store
Thumbs.db

# Environment
.env
application-local.properties
application-dev.properties

# DB
*.db